<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
			<!--li class="nav-item">
				<label for="nav-search" class="col-2 col-form-label sr-only">Search links</label>
				<div class="col p-2">
					<input class="form-control form-control-sm search-filter" type="search" id="nav-search" placeholder="Search for tools">
				</div>
			</li-->
			<li>
               <a href ng-click="cat('exam')">Law Exams(法律考試)<span
                        class="fa arrow"></span></a>
            </li>
            <li>
                <a href="#" ng-click="cat('tool')">My tools(小工具)<span
                        class="fa arrow"></span></a>
            </li>
			<li>
               <a href="#" ng-click="cat('ele')">Electronics(電子電路)<span
                        class="fa arrow"></span></a>
            </li>
			<li>
               <a href="#" ng-click="cat('fortune')">fortune teller(算命)<span
                        class="fa arrow"></span></a>
            </li>
			<li>
               <a href="#" ng-click="cat('wallet')">Games(小遊戲)<span
                        class="fa arrow"></span></a>
            </li>
						
    </div>                                        
		                                     
    <!-- /.sidebar-collapse -->
</div> 



