
	
<ul class="nav navbar-top-links navbar-right">

<li>
<a title="Donate 打賞">Donate</a>
</li>
<li>
<a herf="bitcoin:16KLuqE4VwaEbuucjQRndWtdmyWNwADTy" class="btn" title="Donate Bitcoin" data-clipboard-text="16KLuqE4VwaEbuucjQRndWtdmyWNwADTy"><img src="images/coin_icon/bitcoin.png"></a>
</li>
<li>
<a  class="btn" title="Donate Ethereum" data-clipboard-text="0x87206b80d9e40649b9fa807c6e64acf358d30340"><img src="images/coin_icon/ether.png"></a>
</li>
<li>
<a  class="btn" title="Donate Litecoin" data-clipboard-text="LMx3p91t8qDxpTsGZQ3BKytKmtaLtYfsgM"><img src="images/coin_icon/Litecoin.png"></a>
</li>
<li>
<a class="btn" title="Help 幫助" ng-click="open()"><img src="images/coin_icon/help.png"></a>
</li>
<li class="sidebar-search">
<a><input type="text" class="form-control" ng-model="searchKeyword.$" placeholder="Search..."   /></a>
</li>
</ul>
